
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 75.4rem;
}.frame-20-pWp {
  display: flex;
  align-items: center;
  width: 100%;

  .frame-17-Vsr {
    box-sizing: border-box;
    padding: 6.629rem 5.133rem 2.929rem 5.2rem;
    width: 23.5333rem;
    overflow: hidden;
    position: relative;
    border-radius: 2.4rem;
    margin-right: 2.4rem;
    height: 22.1rem;
    box-shadow: 0.8rem 0.8rem 4.8rem rgba(0, 0, 0, 0.0799999982);
    background-color: #ffffff;
    flex-shrink: 0;

    .frame-30-vyA {
      width: 100%;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;

      .frame-30-sNc {
        flex-shrink: 0;
        margin: 0rem 0rem 1.2rem 0rem;
        width: 8.4859rem;
        height: 5.9426rem;
        object-fit: contain;
        vertical-align: top;
      }
      .frame-29-WwN {
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .points-SKE {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 2rem;
          line-height: 1.5;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          font-weight: 600;
          font-family: Poppins, 'Source Sans Pro';
        }
        .total-earned-K88 {
          display: flex;
          font-size: 1.6rem;
          flex-shrink: 0;
          white-space: nowrap;
          align-items: center;
          justify-content: center;
          font-weight: 400;
          line-height: 1.5;
          color: rgba(0, 0, 0, 0.5);
          font-family: Poppins, 'Source Sans Pro';
        }
      }
    }
  }
  .frame-18-fLQ {
    box-sizing: border-box;
    width: 23.5333rem;
    border: solid 0.4rem #925fe2;
    background-color: #ffffff;
    flex-shrink: 0;
    margin-right: 2.4rem;
    padding: 2.736rem 5.8rem 3rem 5.933rem;
    height: 22.1rem;
    overflow: hidden;
    position: relative;
    box-shadow: 0.8rem 0.8rem 4.8rem rgba(0, 0, 0, 0.0799999982);
    border-radius: 2.4rem;

    .frame-30-eTE {
      width: 100%;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;

      .group-14-AAg {
        margin: 0rem 0rem 1.2rem 0rem;
        width: 10.0027rem;
        height: 9.7645rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .frame-29-R6c {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 100%;
        align-items: center;

        .points-vZA {
          font-size: 2rem;
          font-weight: 600;
          line-height: 1.5;
          color: #000000;
          align-items: center;
          justify-content: center;
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-family: Poppins, 'Source Sans Pro';
        }
        .redeemed-Nvx {
          white-space: nowrap;
          align-items: center;
          justify-content: center;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: rgba(0, 0, 0, 0.5);
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          display: flex;
        }
      }
    }
  }
  .frame-19-qi4 {
    flex-shrink: 0;
    box-sizing: border-box;
    width: 23.5333rem;
    height: 22.1rem;
    box-shadow: 0.8rem 0.8rem 4.8rem rgba(0, 0, 0, 0.0799999982);
    background-color: #ffffff;
    padding: 2.9rem 5.917rem 3rem 5.917rem;
    overflow: hidden;
    position: relative;
    border-radius: 2.4rem;

    .frame-30-8BN {
      flex-direction: column;
      width: 100%;
      height: 100%;
      align-items: center;
      display: flex;

      .group-15-qba {
        margin: 0rem 2.427rem 1.2rem 2.427rem;
        width: calc(100% - 4.8535rem);
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .rectangle-10-JEG {
          margin-right: 0.4093rem;
          width: 1.0419rem;
          height: 1.5628rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .rectangle-9-Bor {
          margin-right: 0.4093rem;
          width: 1.0419rem;
          height: 4.0558rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .rectangle-8-JtU {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.409rem 0rem 0rem;
          width: 1.0419rem;
          height: 2.6419rem;
        }
        .rectangle-7-aLC {
          margin-right: 0.4093rem;
          width: 1.0419rem;
          height: 5.2837rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .rectangle-6-dJU {
          flex-shrink: 0;
          width: 1.0419rem;
          height: 9.6rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .frame-29-MEU {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 100%;
        align-items: center;

        .points-rwv {
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          justify-content: center;
          font-size: 2rem;
          font-weight: 600;
          color: #000000;
          align-items: center;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
        }
        .remaining-LcC {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.5;
          color: rgba(0, 0, 0, 0.5);
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
  }
}
