
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 19.3rem;
}.redeemed-awards-GwN {
  width: 100%;
  justify-content: center;
  font-size: 2rem;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  height: 3rem;
  display: flex;
  align-items: center;
  font-weight: 600;
  line-height: 1.5;
}
