
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 29.3rem;
}.frame-28-zMr {
  box-sizing: border-box;
  padding: 1.3rem 3.5rem 0.3rem 3.2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0.8rem 0.8rem 4.8rem rgba(0, 0, 0, 0.0799999982);
  background-color: #ffffff;
  border-radius: 2.4rem;
}
.frame-28-zMr .group-18-6ZJ {
  margin: 0rem 1.4rem 2.1rem 0rem;
  width: 21.2rem;
  height: 10.4rem;
  position: relative;
  flex-shrink: 0;
}
.frame-28-zMr .group-18-6ZJ .by-mr-peter-nBE {
  width: 7.4rem;
  height: 1.5rem;
  position: absolute;
  left: 13.7rem;
  top: 8.55rem;
  text-align: right;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.03;
  color: rgba(0, 0, 0, 0.5);
  font-family: Questrial, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-28-zMr .group-18-6ZJ .frame-33-jkg {
  width: 21.2rem;
  height: 10.4rem;
  position: absolute;
  left: 0;
  top: 0;
}
.frame-28-zMr .group-18-6ZJ .frame-33-jkg .frame-32-TAt {
  margin-bottom: 0.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.frame-28-zMr .group-18-6ZJ .frame-33-jkg .frame-32-TAt .november-9-2023-Noe {
  margin-bottom: 0.4rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-28-zMr .group-18-6ZJ .frame-33-jkg .frame-32-TAt .punctuality-for-being-the-most-punctual-in-the-week-BWC {
  max-width: 21.2rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.5);
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-28-zMr .group-18-6ZJ .frame-33-jkg .frame-32-TAt .punctuality-for-being-the-most-punctual-in-the-week-BWC .punctuality-for-being-the-most-punctual-in-the-week-BWC-sub-0 {
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.5);
  font-family: Poppins, 'Source Sans Pro';
}
.frame-28-zMr .group-18-6ZJ .frame-33-jkg .frame-32-TAt .punctuality-for-being-the-most-punctual-in-the-week-BWC .punctuality-for-being-the-most-punctual-in-the-week-BWC-sub-1 {
}
.frame-28-zMr .group-18-6ZJ .frame-33-jkg .points-uj2 {
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #925fe2;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-28-zMr .group-19-XVW {
  margin-bottom: 2.2rem;
  width: 100%;
  height: 10.4rem;
  position: relative;
  flex-shrink: 0;
}
.frame-28-zMr .group-19-XVW .by-mr-chris-qm6 {
  width: 7.2rem;
  height: 1.5rem;
  position: absolute;
  left: 13.9rem;
  top: 8.55rem;
  text-align: right;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.03;
  color: rgba(0, 0, 0, 0.5);
  font-family: Questrial, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-28-zMr .group-19-XVW .frame-33-gmi {
  width: 22.6rem;
  height: 10.4rem;
  position: absolute;
  left: 0;
  top: 0;
}
.frame-28-zMr .group-19-XVW .frame-33-gmi .frame-32-Y3E {
  margin-bottom: 0.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.frame-28-zMr .group-19-XVW .frame-33-gmi .frame-32-Y3E .november-8-2023-USg {
  margin-bottom: 0.4rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-28-zMr .group-19-XVW .frame-33-gmi .frame-32-Y3E .creativity-for-designing-the-most-impressive-poster-fn4 {
  max-width: 22.6rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.5);
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-28-zMr .group-19-XVW .frame-33-gmi .frame-32-Y3E .creativity-for-designing-the-most-impressive-poster-fn4 .creativity-for-designing-the-most-impressive-poster-fn4-sub-0 {
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.5);
  font-family: Poppins, 'Source Sans Pro';
}
.frame-28-zMr .group-19-XVW .frame-33-gmi .frame-32-Y3E .creativity-for-designing-the-most-impressive-poster-fn4 .creativity-for-designing-the-most-impressive-poster-fn4-sub-1 {
}
.frame-28-zMr .group-19-XVW .frame-33-gmi .points-toE {
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #925fe2;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-28-zMr .group-20-nNp {
  margin: 0rem 1.2rem 2.1rem 0rem;
  width: 21.4rem;
  height: 10.4rem;
  position: relative;
  flex-shrink: 0;
}
.frame-28-zMr .group-20-nNp .by-ms-anze-DU8 {
  width: 7.4rem;
  height: 1.5rem;
  position: absolute;
  left: 13.7rem;
  top: 8.55rem;
  text-align: right;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.03;
  color: rgba(0, 0, 0, 0.5);
  font-family: Questrial, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-28-zMr .group-20-nNp .frame-33-ox8 {
  width: 21.4rem;
  height: 10.4rem;
  position: absolute;
  left: 0;
  top: 0;
}
.frame-28-zMr .group-20-nNp .frame-33-ox8 .frame-32-6RS {
  margin-bottom: 0.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.frame-28-zMr .group-20-nNp .frame-33-ox8 .frame-32-6RS .november-7-2023-dgG {
  margin-bottom: 0.4rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-28-zMr .group-20-nNp .frame-33-ox8 .frame-32-6RS .innovation-for-solution-to-long-queues-during-meals-guS {
  max-width: 21.4rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.5);
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-28-zMr .group-20-nNp .frame-33-ox8 .frame-32-6RS .innovation-for-solution-to-long-queues-during-meals-guS .innovation-for-solution-to-long-queues-during-meals-guS-sub-0 {
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.5);
  font-family: Poppins, 'Source Sans Pro';
}
.frame-28-zMr .group-20-nNp .frame-33-ox8 .frame-32-6RS .innovation-for-solution-to-long-queues-during-meals-guS .innovation-for-solution-to-long-queues-during-meals-guS-sub-1 {
}
.frame-28-zMr .group-20-nNp .frame-33-ox8 .points-Pqn {
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #925fe2;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-28-zMr .group-21-VP2 {
  margin: 0rem 1.5rem 0.4rem 0rem;
  width: 21.1rem;
  height: 10.4rem;
  position: relative;
  flex-shrink: 0;
}
.frame-28-zMr .group-21-VP2 .by-mr-peter-PUQ {
  width: 7.4rem;
  height: 1.5rem;
  position: absolute;
  left: 13.7rem;
  top: 8.55rem;
  text-align: right;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.03;
  color: rgba(0, 0, 0, 0.5);
  font-family: Questrial, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-28-zMr .group-21-VP2 .frame-33-Q8c {
  width: 20.9rem;
  height: 10.4rem;
  position: absolute;
  left: 0;
  top: 0;
}
.frame-28-zMr .group-21-VP2 .frame-33-Q8c .frame-32-i9J {
  margin-bottom: 0.4rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.frame-28-zMr .group-21-VP2 .frame-33-Q8c .frame-32-i9J .november-6-2023-y5E {
  margin-bottom: 0.4rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-28-zMr .group-21-VP2 .frame-33-Q8c .frame-32-i9J .rd-position-for-being-3rd-best-during-debate-2ZJ {
  max-width: 20.9rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.5);
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.frame-28-zMr .group-21-VP2 .frame-33-Q8c .frame-32-i9J .rd-position-for-being-3rd-best-during-debate-2ZJ .rd-position-for-being-3rd-best-during-debate-2ZJ-sub-0 {
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.5);
  font-family: Poppins, 'Source Sans Pro';
}
.frame-28-zMr .group-21-VP2 .frame-33-Q8c .frame-32-i9J .rd-position-for-being-3rd-best-during-debate-2ZJ .rd-position-for-being-3rd-best-during-debate-2ZJ-sub-1 {
}
.frame-28-zMr .group-21-VP2 .frame-33-Q8c .points-kGL {
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: #925fe2;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.frame-28-zMr .see-all-f8Q {
  margin-left: 15.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.5;
  color: #925fe2;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
