
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 75.4rem;
}.frame-20-pWp {
  width: 100%;
  display: flex;
  align-items: center;
}
.frame-20-pWp .frame-17-Vsr {
  margin-right: 2.4rem;
  box-sizing: border-box;
  padding: 6.629rem 5.133rem 2.929rem 5.2rem;
  width: 23.5333rem;
  height: 22.1rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0.8rem 0.8rem 4.8rem rgba(0, 0, 0, 0.0799999982);
  background-color: #ffffff;
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.frame-20-pWp .frame-17-Vsr .frame-30-vyA {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.frame-20-pWp .frame-17-Vsr .frame-30-vyA .frame-30-sNc {
  margin: 0rem 0rem 1.2rem 0rem;
  width: 8.4859rem;
  height: 5.9426rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-20-pWp .frame-17-Vsr .frame-30-vyA .frame-29-WwN {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-20-pWp .frame-17-Vsr .frame-30-vyA .frame-29-WwN .points-SKE {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-20-pWp .frame-17-Vsr .frame-30-vyA .frame-29-WwN .total-earned-K88 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.5);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-20-pWp .frame-18-fLQ {
  margin-right: 2.4rem;
  box-sizing: border-box;
  padding: 2.736rem 5.8rem 3rem 5.933rem;
  width: 23.5333rem;
  height: 22.1rem;
  overflow: hidden;
  position: relative;
  border: solid 0.4rem #925fe2;
  box-shadow: 0.8rem 0.8rem 4.8rem rgba(0, 0, 0, 0.0799999982);
  background-color: #ffffff;
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.frame-20-pWp .frame-18-fLQ .frame-30-eTE {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.frame-20-pWp .frame-18-fLQ .frame-30-eTE .group-14-AAg {
  margin: 0rem 0rem 1.2rem 0rem;
  width: 10.0027rem;
  height: 9.7645rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-20-pWp .frame-18-fLQ .frame-30-eTE .frame-29-R6c {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-20-pWp .frame-18-fLQ .frame-30-eTE .frame-29-R6c .points-vZA {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-20-pWp .frame-18-fLQ .frame-30-eTE .frame-29-R6c .redeemed-Nvx {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.5);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-20-pWp .frame-19-qi4 {
  box-sizing: border-box;
  padding: 2.9rem 5.917rem 3rem 5.917rem;
  width: 23.5333rem;
  height: 22.1rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0.8rem 0.8rem 4.8rem rgba(0, 0, 0, 0.0799999982);
  background-color: #ffffff;
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.frame-20-pWp .frame-19-qi4 .frame-30-8BN {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.frame-20-pWp .frame-19-qi4 .frame-30-8BN .group-15-qba {
  margin: 0rem 2.427rem 1.2rem 2.427rem;
  width: calc(100% - 4.8535rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.frame-20-pWp .frame-19-qi4 .frame-30-8BN .group-15-qba .rectangle-10-JEG {
  margin-right: 0.4093rem;
  width: 1.0419rem;
  height: 1.5628rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-20-pWp .frame-19-qi4 .frame-30-8BN .group-15-qba .rectangle-9-Bor {
  margin-right: 0.4093rem;
  width: 1.0419rem;
  height: 4.0558rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-20-pWp .frame-19-qi4 .frame-30-8BN .group-15-qba .rectangle-8-JtU {
  margin: 0rem 0.409rem 0rem 0rem;
  width: 1.0419rem;
  height: 2.6419rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-20-pWp .frame-19-qi4 .frame-30-8BN .group-15-qba .rectangle-7-aLC {
  margin-right: 0.4093rem;
  width: 1.0419rem;
  height: 5.2837rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-20-pWp .frame-19-qi4 .frame-30-8BN .group-15-qba .rectangle-6-dJU {
  width: 1.0419rem;
  height: 9.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.frame-20-pWp .frame-19-qi4 .frame-30-8BN .frame-29-MEU {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.frame-20-pWp .frame-19-qi4 .frame-30-8BN .frame-29-MEU .points-rwv {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.frame-20-pWp .frame-19-qi4 .frame-30-8BN .frame-29-MEU .remaining-LcC {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.5);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
