{% extends "base/base.html" %}

{% block title %}Award Point{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
<!--< class="container custom-container">-->
<div class="container mt-3" style="width: 50%; font-size: 14px;">
  <div class="text-center">
    <h2 class="text-light">Award Point</h2>
  </div>
  <form method="POST" class="card p-3 mt-5" autocomplete="off">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="d-flex justify-content-between">
      <button type="submit" class="btn btn-primary">Award</button>
      <button class="btn btn-primary" onclick="goBack()">Back</button>
    </div>
  </form>
  {% for message in messages %}
  {% if message.tags == 'success' %}
  <div class="text-center alert alert-primary alert-dismissible fade show" role="alert">{{message}}
    <a href="{%url 'teachers_dashboard' %}" type="button" class="btn btn-close" data-bs-dismiss="alert"
      aria-label="Close"></a>
  </div>
  {% endif %}
  {% endfor %}
</div>
{% endblock %}

{% block scripts %}
<script>
  function goBack() {
    window.history.back();
  }
  
  $("#id_student").select2({width: '100%'});
  $("#id_category").select2({width: '100%'});
</script>
{% endblock %}
