{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>Students' Dashboard</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter%3A400%2C600%2C700"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sriracha%3A400"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C600%2C700"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins%3A400%2C600"/>
</head>
<body>
    <div class="d-flex justify-content-between align-items-center mx-5 mt-3">
        <div style="width:fit-content; margin: 0 auto;">
            <h1>Nuru Academy</h1>
        </div>
        <div class="d-flex justify-content-end align-items-center">
            <div class="px-3">
                <img src="{% static 'base/assets/user.png' %}" alt="profile-icon" class="float-end align-contents-center rounded-circle" style="position:relative; border:4px solid blueviolet; width: 48px; height: 48px;">
            </div>
            <div class="d-flex flex-column align-items-start">
                <h5 class="text-end font-weight-bold">{{ bios.user.first_name }} {{ bios.user.last_name }}</h5>
                <h5 class="text-end text-secondary">Grade: {{ bios.grade }}</h5>
            </div>
        </div>
    </div>
    <section class="d-flex justify-content-between m-4 align-items-center">
        <div class="school-image">
            <img src="{% static 'base/assets/redeem-points-1-1.png' %}" class="img-fluid" style="width:60%; height:auto;" alt="redeem-points">
        </div>
        <div class="container-lg" style="background-color:hsl(248, 53%, 58%); border-radius: 24px;">
            <div class="row g-2 justify-content-center align-items-center">
                <div class="col-sm-6 col-lg-6 align-contents-center">
                    <div>
                        <p class="text-light ms-3">{% now "d-m-Y H:i" %}</p>
                        <div class="text-light ms-3">
                            <h3 class="">Welcome back, {{ bios.user.first_name }}</h3>
                            <p class="">Always stay updated on your points</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-lg-3">
                    <a class="btn p-2 bg-light btn-lg border border-dark" href="{% url 'redeem-point' %}">Redeem Points</a>
                </div>
                
                <div class="col-sm-3 col-lg-3 text-center d-none d-md-block">
                    <img src="{% static 'base/assets/redeem-points-1.png' %}" alt="redeem-points" class="img-fluid" style="width:70%; height:auto;">
                </div>
            </div>
        </div>
    </section>
    <section class="d-flex justify-content-between m-3 align-items-center">
        <div class="text-light mx-4" style="background-color:hsl(248, 53%, 58%); width:15%; height:565px; border-radius: 24px;" >
            <div class="mt-0">
                <div class="d-flex justify-content align-items-center">
                    <img class="img" src="{% static 'base/assets/dashboard.png' %}" style="margin-top: 109px; margin-left: 29px; width: 24px; height: 24px"/>
                    <p style="margin-top: 120px; margin-left: 10px; width: 24px; height: 24px">Dashboard</p>
                </div>
                <div class="d-flex justify-content align-items-center">
                    <img class="img" src="{% static 'base/assets/cash.png' %}" style="margin-top: 60px; margin-left: 29px; width: 24px; height: 24px"/>
                    <p style="margin-top: 60px; margin-left: 10px; width: 24px; height: 24px">Points Awarded</p>
                </div>
                <div class="mt-5 d-flex justify-content align-items-center">
                    <img class="img" src="{% static 'base/assets/notebook.png' %}" style="margin-top: 60px; margin-left: 29px; width: 24px; height: 24px"/>
                    <div style="margin-top: 60px; margin-left: 10px; width: 24px; height: 24px">Points Redeemed</div>
                </div>
                <div class="mt-5 d-flex justify-content align-items-center">
                    <a href="{% url 'logout' %}">
                        <img class="img" src="{% static 'base/assets/logout.png' %}" style="margin-top: 60px; margin-left: 29px; width: 24px; height: 24px"/>
                    </a>
                    <div class="align-contents-center" style="margin-top: 60px; margin-left: 10px; width: 24px; height: 24px">
                        <a class="text-light" href="{% url 'logout' %}">Log_out</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">  
            <div class="row justify-content-around align-contents-center">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </section>  
</body>
</html>