{% extends "base.html" %}

{% block title %}Teachers Dashboard{% endblock %}

{% block content %}
<h1>Welcome to Student's Dashboard</h1>
<h2>Awarded Points</h2>
<form method="get" action="{% url 'students_dashboard' %}">
    <input type="text" name="q" placeholder="Search ..." />
    <button onclick="">Clear</button>
</form>
<br>
<div class="table-container">
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Category</th>
            <th>Description</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>
        {% for point in points %}
            <tr>
                <td>{{ point.id }}</td>
                <td>{{ point.student }}</td>
                <td>{{ point.category }}</td>
                <td>{{ point.description }}</td>
                <td>{{ point.category.point }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<br>
<h2>Total Points: {{ total }}</h2>

{% endblock %}