"""if current_user.is_authenticated and current_user.is_student:
                form.instance.student_id = current_user.id
                # Set the teacher ID before saving the form
                #form.instance.teacher_id = current_user.id
                '''total_points = (
                        PointTransaction.objects.filter(student=request.user)
                        .aggregate(Sum('category__point'))['category__point__sum']
                )'''
                form.save()
                return redirect('students_dashboard')
            else:
                # Handle the case where the user is not a teacher
                pass
                # msg = {'error_msg': 'not authorized to perform this action'}
                # return render(request, 'error_page.html', msg)

    context = {'form': form}
    return render(request, "base/redeem_point.html", context)"""