{% extends 'base/base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-3" style="width: 50%; font-size: 14px;">
  <div class="text-center">
    <h1 class="text-light">Forgot your password?</h1>
    <p class="text-light">Enter your email address below, and we'll email instructions for setting a new one.</p>
  </div>
  <form method="POST" class="card p-3 mt-5" autocomplete="off">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="d-flex justify-content-between">
      <button type="submit" class="btn btn-primary">Send me instructions!</button>
      <button class="btn btn-primary" onclick="goBack()">Back</button>
    </div>
  </form>
</div>
{% endblock %}

{% block scripts %}
<script>
  function goBack() {
    window.history.back();
  }
</script>
{% endblock %}