{% extends 'base/base.html' %}
{% block title %}Change Password Done{% endblock %}

{% block content %}
  <div class="container mt-3" style="width: 50%; font-size: 14px;">
    <div class="card p-3 mt-5">
      <h2 class="text-primary">Password Change Successful</h2>
      <p class="text-primary">Your password was changed successfully.</p>
      <div class="d-flex justify-content-between">
        <button class="btn btn-primary" onclick="goBack()">Back</button>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script>
  function goBack() {
    window.history.back();
  }
</script>
{% endblock %}
