{% extends 'base/base.html' %}

{% block title %}Password reset complete{% endblock %}

{% block content %}
  <div class="container mt-3" style="width: 50%; font-size: 14px;">
    <div class="card p-3 mt-5">
      <h1 class="text-primary">Password Reset Complete</h1>
      <p>Your new password has been set. You may go ahead and log in now</p>
      <div class="d-flex justify-content-between">
        <a class="btn btn-primary" href="{% url 'login' %}">log in</a>
      </div>
    </div>
  </div>
{% endblock %}