{% extends 'base/base.html' %}

{% block title %}Enter new password{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-3" style="width: 50%; font-size: 14px;">
  {% if validlink %}
    <div class="text-center">
      <h1 class="text-light">Set a new password!</h1>
    </div>
    <form method="POST" class="card p-3 mt-5" autocomplete="off">
      {% csrf_token %}
      {{ form|crispy }}
      <div class="d-flex justify-content-between">
        <input class="btn btn-primary" type="submit" value="Change my password">
      </div>
    </form>

    {% else %}
      <div class="card p-3 mt-5">
        <h6 class="text-primary">The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</h6>
      </div>
  {% endif %}
</div>
{% endblock %}