{% extends 'base/base.html' %}

{% block title %}Email Sent{% endblock %}

{% block content %}
  <div class="container mt-3" style="width: 50%; font-size: 14px;">
    <div class="card p-3 mt-5">
      <h1 class="text-primary">Check your inbox.</h1>
      <p class="text-primary">We've emailed you instructions for setting your password. If you don't receive the email, check your spam folder or </p>
      <div class="d-flex justify-content-between">
        <a class="btn btn-primary" href="{% url 'reset_password' %}">try again</a>
      </div>
    </div>
  </div>
{% endblock %}